/* /components/TitleImg.css */

.image-container {
    position: relative;
    width: 100%;
    height: 50vh; /* 設定為視口高度的 50% */
}
.homeoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* 白色半透明背景 */
    display: flex;
    flex-direction: column;  /* 垂直排列 */
    justify-content: center; /* 水平置中 */
    align-items: center;     /* 垂直置中 */
}

.title-image {
    width: 100%;
    height: 100%; /* 讓圖片填滿容器 */
    object-fit: cover; /* 保持圖片比例並填滿容器 */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* 白色半透明背景 */
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
}

.center-text {
    color: black;
    font-size: 24px; /* 可以根據需要調整字型大小 */
    text-align: center;
}

.TitleImg-text{
    color: black;
    font-size: 64px; /* 可以根據需要調整字型大小 */
    text-align: center;
    font-weight: bold;  /* 設定粗體 */
    margin: 5px 0;     /* 添加上下間距 */
    white-space: normal; /* 確保正常換行 */
    line-height: 1.2;
}

/* 平板電腦 */
@media screen and (max-width: 1024px) {
    .image-container {
        height: 40vh;
    }
}

/* 大型手機 */
@media screen and (max-width: 768px) {
    .image-container {
        height: 35vh;
    }
    .TitleImg-text{
        color: black;
        font-size: 34px; /* 可以根據需要調整字型大小 */
        text-align: center;
        font-weight: bold;  /* 設定粗體 */
        margin: 5px 0;     /* 添加上下間距 */
        white-space: normal; /* 確保正常換行 */
        line-height: 1.2;
        position: relative;
        left: -15%;
    }

    
}

/* 小型手機 */
@media screen and (max-width: 480px) {
    .image-container {
        height: 30vh;
        width: 100%;
    }
    .TitleImg-text{
        color: black;
        font-size: 34px; /* 可以根據需要調整字型大小 */
        text-align: center;
        font-weight: bold;  /* 設定粗體 */
        margin: 5px 0;     /* 添加上下間距 */
        white-space: normal; /* 確保正常換行 */
        line-height: 1.2;
        position: relative;
        top: 0%;
        left: 0%;

        
    }
    .homeoverlay {

        padding: 10px;

    }
}