/* 在 src/pages/page1/components/TitlebuttonJs.css 中*/

.carousel-container {
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    gap: 50px; /* 設置按鈕之間的間距 */
    width: 100%;
}

.carousel {
    width: 50%; /* 设置輪播容器的寬度为50% */
}

.btn,
.btn:focus,
.btn:hover {
    position: relative;
    min-width: 150px;
    border: 1px solid #FFFFFF;
    color: #717274;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    padding: 10px 20px;
    
    
}
.btn span:nth-child(1),
.btn span:nth-child(2),
.btn span:nth-child(3),
.btn span:nth-child(4) {
    content: "";
    display: block;
    position: absolute;
    background-color: #fb0000;
}
.btn span:nth-child(1) {
    width: 1px;
    left: 0;
    bottom: 0;
}
.btn span:nth-child(2) {
    height: 1px;
    left: 0;
    top: 0;
}
.btn span:nth-child(3) {
    width: 1px;
    right: 0;
    top: 0;
}
.btn span:nth-child(4) {
    height: 1px;
    right: 0;
    bottom: 0;
}



.btn:hover {
    border: none;
    color: #FFFFFF;
    /*text-shadow:0px 0px 15px #ff0000;*/
    text-shadow: 0 0 0.4em #ff0000, 0 0 0.4em #ff0000
}
.btn:hover span:nth-child(1) {
    animation: move1 1500ms infinite ease;
}
.btn:hover span:nth-child(2) {
    animation: move2 1500ms infinite ease;
}
.btn:hover span:nth-child(3) {
    animation: move3 1500ms infinite ease;
}
.btn:hover span:nth-child(4) {
    animation: move4 1500ms infinite ease;
}
@keyframes move1 {
    0% { height: 100%; bottom: 0; }
    54% { height: 0; bottom: 100%; }
    55% { height: 0; bottom: 0; }
    100% { height: 100%; bottom: 0; }
}
@keyframes move2 {
    0% { width: 0; left: 0; }
    50% { width: 100%; left: 0; }
    100% { width: 0; left: 100%; }
}
@keyframes move3 {
    0% { height: 100%; top: 0; }
    54% { height: 0; top: 100%; }
    55% { height: 0; top: 0; }
    100% { height: 100%; top: 0; }
}
@keyframes move4 {
    0% { width: 0; right: 0; }
    55% { width: 100%; right: 0; }
    100% { width: 0; right: 100%; }
}


.btn.active {
    border: none;
    color: #FFFFFF;
    text-shadow: 0 0 0.4em #ff0000, 0 0 0.4em #ff0000;
    
}
/* 按鈕被點選後保留框框動畫
.btn.active span:nth-child(1){
    animation: move1 1500ms infinite ease;
    
}
.btn.active span:nth-child(2){
    animation: move2 1500ms infinite ease;
    
}
.btn.active span:nth-child(3){
    animation: move3 1500ms infinite ease;
    
}
.btn.active span:nth-child(4){
    animation: move4 1500ms infinite ease;
    
}*/

